@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: .875rem;
    border-radius: .5625rem;
    margin-block: .375rem;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border: .1875rem solid #fff;
    border-radius: .5625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

@supports (scrollbar-color: #fff #fff) {
    * {
        scrollbar-color: #adadad #f1f1f1
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fcfcfc;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

/* navbar */

.nav {
    height: 3.125rem;
    width: 100vw;
    box-shadow: 0 0 1.125rem .3125rem #0006;
    justify-content: center;
    align-items: center;
    line-height: 2.74rem;
}

.nav .logo {
    margin-left: 1.875rem;
}

.nav ul {
    display: flex;
    margin-left: auto;
    margin-right: .625rem;
}

.nav li {
    margin-right: 1.25rem;
}

.nav a,
.mobile-nav .nav a {
    color: #5e5e5e;
    position: relative;
}

.nav a::after,
.mobile-nav a::after {
    content: '';
    position: absolute;
    background-color: #51ff94;
    height: .1875rem;
    width: 0;
    left: 0;
    bottom: -.105rem;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.nav a:hover .mobile-nav a:hover {
    color: #000000;
}

.nav a:hover::after,
.mobile-nav a:hover::after {
    width: 100%;
}

.nav .logo a {
    color: #000;
}

.nav .logo a::after {
    height: .375rem;
}

/* mobile nav */


.mobile-nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
    height: 3rem;
    background: #5cb37d;
    padding: .625rem;
    box-shadow: 0 0 1.125rem .3125rem rgba(0, 0, 0, 0.212);
    border-radius: .975rem .975rem 0 0;
    display: none;
}

.mobile-nav .container {
    width: 100vw;
    justify-content: space-evenly;
}

.mobile-nav a::after {
    height: 0.4rem
}

.mobile-nav ul {
    display: flex;
}

.mobile-list-item1 {
    margin: 0 5.875rem;
}

/* stuff */

.container {
    display: flex;
}

.hidden {
    display: none;
}

/* main */

main {
    display: flex;
    margin-top: 2.125rem;
    justify-content: center;
}

/* hero */

.hero {
    width: 80%;
}

.hero .container {
    flex-wrap: wrap;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

/* slider */

.car-img {
    padding: 1.25rem;
    margin: 2.25rem;
    border-radius: 1.875rem;
    box-shadow: 0 1.125rem 8.125rem .2125rem rgba(0, 0, 0, 0.089);
    transition: background-color 2.5s;
}

.car-img:hover {
    background-color: #5cb37d;
}

.car-img img {
    border-radius: 1.5rem;
}

/* Media queries */

@media (max-width: 31.25rem) {

    .nav li {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .car-img-last {
        display: none;
    }

    .car-img-s-last {
        margin-bottom: 7.5rem;
    }
}